.drag-handle {
  color: alpha(@theme_fg_color, 0.4);
}

.drag-handle:backdrop {
  color: alpha(@theme_unfocused_fg_color, 0.4);
}

.view-title {
  font-size: 24pt;
  line-height: 26pt;
  font-weight: 300;
}

.view-subtitle {
  font-size: 20pt;
  line-height: 26pt;
}

.heading {
  font-size: 10pt;
  line-height: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-weight: 400;
  font-size: 10pt;
  line-height: 12pt;
}
