background-preview {
  border-radius: 6px;
}

background-preview .window {
  border-radius: 6px;
  box-shadow: 0 1px 4px 1px alpha(black, 0.13),
    0 1px 10px 5px alpha(black, 0.09), 0 3px 16px 8px alpha(black, 0.04),
    0 0 0 1px alpha(black, 0.05);
}

background-preview .window .header-bar {
  min-height: 15px;
  box-shadow: inset 0 -1px @borders;
}

background-preview .window.light {
  background-color: #fafafa;
  color: alpha(black, 0.8);
}

background-preview .window.front.light .header-bar {
  background-color: #ebebeb;
}

background-preview .window.dark {
  background-color: #242424;
  color: white;
}

background-preview .window.front.dark .header-bar {
  background-color: #303030;
}

.background-preview-button {
  background: none;
  border-radius: 9px;
  padding: 3px;
  box-shadow: none;
  outline: none;
}

.background-preview-button:checked {
  box-shadow: 0 0 0 3px @accent_color;
}

.background-preview-button:focus:focus-visible {
  box-shadow: 0 0 0 3px alpha(@accent_color, 0.3);
}

.background-preview-button:checked:focus:focus-visible {
  box-shadow: 0 0 0 3px @accent_color, 0 0 0 6px alpha(@accent_color, 0.3);
}

.background-flowbox > flowboxchild {
  background: none;
  border-radius: 9px;
}

.background-thumbnail {
  border-radius: 6px;
}

.slideshow-icon {
  color: white;
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  margin: 8px;
}

.accent-row radio {
  color: @accent_fg_color;
  min-height: 24px;
  min-width: 24px;
  margin: 8px;
}

.accent-row radio:checked {
  background-color: unset;
}

.meson-red radio {
  background: #e25480;
}
.lepton-orange radio {
  background: #f99e5c;
}
.electron-yellow radio {
  background: #febc16;
}
.muon-green radio {
  background: #72da82;
}
.baryon-mint radio {
  background: #85d1bf;
}
.proton-blue radio {
  background: #58a8fa;
}
.tau-purple radio {
  background: #a57bcd;
}
.fermion-pink radio {
  background: #cb76b8;
}
