background-preview {
  border-radius: 6px;
}

background-preview .window {
  border-radius: 6px;
  box-shadow: 0 1px 4px 1px alpha(black, 0.13),
              0 1px 10px 5px alpha(black, 0.09),
              0 3px 16px 8px alpha(black, 0.04),
              0 0 0 1px alpha(black, .05);
}

background-preview .window .header-bar {
  min-height: 15px;
  box-shadow: inset 0 -1px @borders;
}

background-preview .window.light {
  background-color: #fafafa;
  color: alpha(black, .8);
}

background-preview .window.front.light .header-bar {
  background-color: #ebebeb;
}

background-preview .window.dark {
  background-color: #242424;
  color: white;
}

background-preview .window.front.dark .header-bar {
  background-color: #303030;
}

.background-preview-button {
  background: none;
  border-radius: 9px;
  padding: 3px;
  box-shadow: none;
  outline: none;
}

.background-preview-button:checked {
  box-shadow: 0 0 0 3px @accent_color;
}

.background-preview-button:focus:focus-visible {
  box-shadow: 0 0 0 3px alpha(@accent_color, .3);
}

.background-preview-button:checked:focus:focus-visible {
  box-shadow: 0 0 0 3px @accent_color, 0 0 0 6px alpha(@accent_color, .3);
}

.background-flowbox > flowboxchild {
  background: none;
  border-radius: 9px;
}

.background-thumbnail {
  border-radius: 6px;
}

.slideshow-icon {
  color: white;
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  margin: 8px;
}

.accent-row radio {
  color: @accent_fg_color;
  min-height: 24px;
  min-width: 24px;
  margin: 8px;
}

.meson-red radio {
  background: #E25480;
  color: #E25480;
}
.lepton-orange radio {
  background: #F99E5C;
  color: #F99E5C;
}
.electron-yellow radio {
  background: #FEBC16;
  color: #FEBC16;
}
.muon-green radio {
  background: #72DA82;
  color: #72DA82;
}
.baryon-mint radio {
  background: #85D1BF;
  color: #85D1BF;
}
.proton-blue radio {
  background: #58A8FA;
  color: #58A8FA;
}
.tau-purple radio {
  background: #A57BCD;
  color: #A57BCD;
}
.fermion-pink radio {
  background: #CB76B8;
  color: #CB76B8;
}
